# Dependencies
node_modules/
frontend/node_modules/
backend/data/

# Production build outputs
dist/
frontend/dist/

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
